  <header>
  <h1> Trip info </h1>
  <h2><%= @trip.title %></h2>
  <p>Image: <%= link_to(image_tag(@trip.image, class: "d-block w-75"), "#") %></p>
  <p>Beginning Of The Trip: <%= @trip.start_time %></p>
  <p>End Of The Trip: <%= @trip.end_time %></p>
  </header>
<button onclick="window.location.href='/places/new'" class="btn btn-outline-dark rounded-pill">Add Place</button>

  <!-- Or write the HTML manually -->
<a href="/trips/<%= @trip.id %>/edit" class="btn btn-outline-dark rounded-pill">Edit trip</a>


<!-- Or write the HTML manually -->
<a href="/trips/<%= @trip.id %>" data-turbo-method="delete" class="btn btn-outline-dark rounded-pill">Destroy trip</a>


<% @trip.places.each do |place| %>
  <h2><%= place.name %></h2>
  <p>Address (where you are staying): <%= place.address %></p>
  <p>Places you want to or need to go: <%= place.name %></p>
  <p> describe what you want or need to do: <%= place.description %></p>
  <p> Picture of why you are going: <%= place.image %></p>
  <a href="/places/:id">Open Place</a>
<% end %>