<h1>Edit place</h1>
<form method="post" action="/places/<%= @place.id %>">
  <input type="hidden" name="_method" value="patch" autocomplete="off">
  <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
  <div>
    <label>Address (where you are staying): </label>
    <input type="text" name="place[address]" value="<%= @place.address %>">
  </div>
  <div>
    <label>Places you want to or need to go: </label>
    <input type="text" name="place[name]" value="<%= @place.name %>">
  </div>
  <div>
    <label>describe what you want or need to do: </label>
    <input type="text" name="place[description]" value="<%= @place.description %>">
  </div>
 <label> Upload images of places you want to go:</label>
  <form action="upload.php" method="POST" enctype="multipart/form-data">
    <input type="file" name="place[image]" accept="image/*">
    <input type="submit" value="Upload">
  </form>
  <div>
  <div>
    <input type="submit" value="Update place">
  </div>
</form>