<h1>Places info</h1>
<h2><%= place.name %></h2>
<p>Address (where you are staying): <%= place.address %></p>
<p>Places you want to or need to go: <%= place.name %></p>
<p> describe what you want or need to do: <%= place.description %></p>
<p>Picture of where you are going : <%= place.image %></p>
<a href="/places">Back to all places</a>